INS_MEMORY.v.bak
MIPS.cr.mti
MIPS.mpf
REGISTER.v.bak
transcript
vsim.wlf
work/_info
work/_vmake
work/@a@l@u/_primary.dat
work/@a@l@u/_primary.dbs
work/@a@l@u/_primary.vhd
work/@a@l@u/verilog.prw
work/@a@l@u/verilog.psm
work/@d@a@t@a_@m@e@m/_primary.dat
work/@d@a@t@a_@m@e@m/_primary.dbs
work/@d@a@t@a_@m@e@m/_primary.vhd
work/@d@a@t@a_@m@e@m/verilog.prw
work/@d@a@t@a_@m@e@m/verilog.psm
work/@i@n@s_@m@e@m@o@r@y/_primary.dat
work/@i@n@s_@m@e@m@o@r@y/_primary.dbs
work/@i@n@s_@m@e@m@o@r@y/_primary.vhd
work/@i@n@s_@m@e@m@o@r@y/verilog.prw
work/@i@n@s_@m@e@m@o@r@y/verilog.psm
work/@p@c/_primary.dat
work/@p@c/_primary.dbs
work/@p@c/_primary.vhd
work/@p@c/verilog.prw
work/@p@c/verilog.psm
work/@r@e@g@i@s@t@e@r/_primary.dat
work/@r@e@g@i@s@t@e@r/_primary.dbs
work/@r@e@g@i@s@t@e@r/_primary.vhd
work/@r@e@g@i@s@t@e@r/verilog.prw
work/@r@e@g@i@s@t@e@r/verilog.psm
work/@r@e@g_@f@i@l@e/_primary.dat
work/@r@e@g_@f@i@l@e/_primary.dbs
work/@r@e@g_@f@i@l@e/_primary.vhd
work/@r@e@g_@f@i@l@e/verilog.prw
work/@r@e@g_@f@i@l@e/verilog.psm
work/_temp/vlog3kbycv
work/_temp/vlog183ras
work/_temp/vlog360et1
work/_temp/vloga3mita
work/_temp/vlogaz4xnz
work/_temp/vlogb2n2vr
work/_temp/vlogedcge1
work/_temp/vloghdmfym
work/_temp/vlogiijhtf
work/_temp/vlogq4yf4h
work/_temp/vlogr23v78
work/_temp/vlogs2bac9
work/_temp/vlogv3bj6k
work/_temp/vlogvhcs63
work/_temp/vlogx5b4z2
work/_temp/vlogxg45bs
work/_temp/vlogy2wskw
work/_temp/vlogz10xkt
work/_temp/vlogz13ymv
work/_temp/vlogziwytx
work/_temp/vlogqx51kj
work/@m@a@i@n_@d@e@c@o@d@e@r/verilog.psm
work/@m@a@i@n_@d@e@c@o@d@e@r/_primary.dbs
work/@m@a@i@n_@d@e@c@o@d@e@r/_primary.dat
work/@m@a@i@n_@d@e@c@o@d@e@r/_primary.vhd
work/@m@a@i@n_@d@e@c@o@d@e@r/verilog.prw
work/@a@l@u_@d@e@c@o@d@e@r/verilog.psm
work/@a@l@u_@d@e@c@o@d@e@r/verilog.prw
work/@a@l@u_@d@e@c@o@d@e@r/_primary.vhd
work/@a@l@u_@d@e@c@o@d@e@r/_primary.dbs
work/@a@l@u_@d@e@c@o@d@e@r/_primary.dat
ALU.v.bak
factorial machine code.txt
GCD_Machine_Code.txt
work/@a@d@d@e@r/_primary.dat
work/@a@d@d@e@r/_primary.dbs
work/@a@d@d@e@r/_primary.vhd
work/@a@d@d@e@r/verilog.prw
work/@a@d@d@e@r/verilog.psm
work/@a@l@u_top/_primary.dat
work/@a@l@u_top/_primary.dbs
work/@a@l@u_top/_primary.vhd
work/@a@l@u_top/verilog.prw
work/@a@l@u_top/verilog.psm
work/@a@l@u_top_tb/_primary.dat
work/@a@l@u_top_tb/_primary.dbs
work/@a@l@u_top_tb/_primary.vhd
work/@a@l@u_top_tb/verilog.prw
work/@a@l@u_top_tb/verilog.psm
work/@c@o@n@t@r@o@l_@u@n@i@t/_primary.dat
work/@c@o@n@t@r@o@l_@u@n@i@t/_primary.dbs
work/@c@o@n@t@r@o@l_@u@n@i@t/_primary.vhd
work/@c@o@n@t@r@o@l_@u@n@i@t/verilog.prw
work/@c@o@n@t@r@o@l_@u@n@i@t/verilog.psm
work/@counter/_primary.dat
work/@counter/_primary.dbs
work/@counter/_primary.vhd
work/@counter/verilog.prw
work/@counter/verilog.psm
work/@counter_tb/_primary.dat
work/@counter_tb/_primary.dbs
work/@counter_tb/_primary.vhd
work/@counter_tb/verilog.prw
work/@counter_tb/verilog.psm
work/@d@a@t@a_@p@a@t@h/_primary.dat
work/@d@a@t@a_@p@a@t@h/_primary.dbs
work/@d@a@t@a_@p@a@t@h/_primary.vhd
work/@d@a@t@a_@p@a@t@h/verilog.prw
work/@d@a@t@a_@p@a@t@h/verilog.psm
work/@dig@ct/_primary.dat
work/@dig@ct/_primary.dbs
work/@dig@ct/_primary.vhd
work/@dig@ct/verilog.prw
work/@dig@ct/verilog.psm
work/@dig@ct_tb/_primary.dat
work/@dig@ct_tb/_primary.dbs
work/@dig@ct_tb/_primary.vhd
work/@dig@ct_tb/verilog.prw
work/@dig@ct_tb/verilog.psm
work/@l@e@f@t_@s@h@i@f@t@e@r/_primary.dat
work/@l@e@f@t_@s@h@i@f@t@e@r/_primary.dbs
work/@l@e@f@t_@s@h@i@f@t@e@r/_primary.vhd
work/@l@e@f@t_@s@h@i@f@t@e@r/verilog.prw
work/@l@e@f@t_@s@h@i@f@t@e@r/verilog.psm
work/@m@i@p@s/_primary.dat
work/@m@i@p@s/_primary.dbs
work/@m@i@p@s/_primary.vhd
work/@m@i@p@s/verilog.prw
work/@m@i@p@s/verilog.psm
work/@m@u@x/_primary.dat
work/@m@u@x/_primary.dbs
work/@m@u@x/_primary.vhd
work/@m@u@x/verilog.prw
work/@m@u@x/verilog.psm
work/@s@i@g@n_@e@x@t@e@n@d/_primary.dat
work/@s@i@g@n_@e@x@t@e@n@d/_primary.dbs
work/@s@i@g@n_@e@x@t@e@n@d/_primary.vhd
work/@s@i@g@n_@e@x@t@e@n@d/verilog.prw
work/@s@i@g@n_@e@x@t@e@n@d/verilog.psm
work/@simple_@circuit/_primary.dat
work/@simple_@circuit/_primary.dbs
work/@simple_@circuit/_primary.vhd
work/@simple_@circuit/verilog.prw
work/@simple_@circuit/verilog.psm
work/@simple_@circuit_tb/_primary.dat
work/@simple_@circuit_tb/_primary.dbs
work/@simple_@circuit_tb/_primary.vhd
work/@simple_@circuit_tb/verilog.prw
work/@simple_@circuit_tb/verilog.psm
work/_temp/vlog4z5k0t
work/_temp/vlog6sd1xr
work/_temp/vloghcnxzd
work/_temp/vlogjfrnbz
work/_temp/vlogjwkq7m
work/_temp/vlogmzdty1
work/_temp/vlogn2vth0
work/_temp/vlogrjj2aj
work/_temp/vlogt3h364
work/_temp/vlogv9hw2n
work/_temp/vlogy0xvzw
work/_temp/vlogy5r8dx
work/_temp/vlogzwtieq
work/arithmatic_unit/_primary.dat
work/arithmatic_unit/_primary.dbs
work/arithmatic_unit/_primary.vhd
work/arithmatic_unit/verilog.prw
work/arithmatic_unit/verilog.psm
work/comp_unit/_primary.dat
work/comp_unit/_primary.dbs
work/comp_unit/_primary.vhd
work/comp_unit/verilog.prw
work/comp_unit/verilog.psm
work/decoder/_primary.dat
work/decoder/_primary.dbs
work/decoder/_primary.vhd
work/decoder/verilog.prw
work/decoder/verilog.psm
work/logic_unit/_primary.dat
work/logic_unit/_primary.dbs
work/logic_unit/_primary.vhd
work/logic_unit/verilog.prw
work/logic_unit/verilog.psm
work/register_file/_primary.dat
work/register_file/_primary.dbs
work/register_file/_primary.vhd
work/register_file/verilog.prw
work/register_file/verilog.psm
work/register_file_tb/_primary.dat
work/register_file_tb/_primary.dbs
work/register_file_tb/_primary.vhd
work/register_file_tb/verilog.prw
work/register_file_tb/verilog.psm
work/shift_unit/_primary.dat
work/shift_unit/_primary.dbs
work/shift_unit/_primary.vhd
work/shift_unit/verilog.prw
work/shift_unit/verilog.psm
SIGN_EXTEND.v
work/_temp/vlogtw86ft
work/_temp/vlogm3g7h2
factorial_machine_code.txt
