INS_MEMORY.v.bak
MIPS.cr.mti
MIPS.mpf
REGISTER.v.bak
transcript
vsim.wlf
work/_info
work/_vmake
work/@a@l@u/_primary.dat
work/@a@l@u/_primary.dbs
work/@a@l@u/_primary.vhd
work/@a@l@u/verilog.prw
work/@a@l@u/verilog.psm
work/@d@a@t@a_@m@e@m/_primary.dat
work/@d@a@t@a_@m@e@m/_primary.dbs
work/@d@a@t@a_@m@e@m/_primary.vhd
work/@d@a@t@a_@m@e@m/verilog.prw
work/@d@a@t@a_@m@e@m/verilog.psm
work/@i@n@s_@m@e@m@o@r@y/_primary.dat
work/@i@n@s_@m@e@m@o@r@y/_primary.dbs
work/@i@n@s_@m@e@m@o@r@y/_primary.vhd
work/@i@n@s_@m@e@m@o@r@y/verilog.prw
work/@i@n@s_@m@e@m@o@r@y/verilog.psm
work/@p@c/_primary.dat
work/@p@c/_primary.dbs
work/@p@c/_primary.vhd
work/@p@c/verilog.prw
work/@p@c/verilog.psm
work/@r@e@g@i@s@t@e@r/_primary.dat
work/@r@e@g@i@s@t@e@r/_primary.dbs
work/@r@e@g@i@s@t@e@r/_primary.vhd
work/@r@e@g@i@s@t@e@r/verilog.prw
work/@r@e@g@i@s@t@e@r/verilog.psm
work/@r@e@g_@f@i@l@e/_primary.dat
work/@r@e@g_@f@i@l@e/_primary.dbs
work/@r@e@g_@f@i@l@e/_primary.vhd
work/@r@e@g_@f@i@l@e/verilog.prw
work/@r@e@g_@f@i@l@e/verilog.psm
work/_temp/vlog3kbycv
work/_temp/vlog183ras
work/_temp/vlog360et1
work/_temp/vloga3mita
work/_temp/vlogaz4xnz
work/_temp/vlogb2n2vr
work/_temp/vlogedcge1
work/_temp/vloghdmfym
work/_temp/vlogiijhtf
work/_temp/vlogq4yf4h
work/_temp/vlogr23v78
work/_temp/vlogs2bac9
work/_temp/vlogv3bj6k
work/_temp/vlogvhcs63
work/_temp/vlogx5b4z2
work/_temp/vlogxg45bs
work/_temp/vlogy2wskw
work/_temp/vlogz10xkt
work/_temp/vlogz13ymv
work/_temp/vlogziwytx
work/_temp/vlogqx51kj
work/@m@a@i@n_@d@e@c@o@d@e@r/verilog.psm
work/@m@a@i@n_@d@e@c@o@d@e@r/_primary.dbs
work/@m@a@i@n_@d@e@c@o@d@e@r/_primary.dat
work/@m@a@i@n_@d@e@c@o@d@e@r/_primary.vhd
work/@m@a@i@n_@d@e@c@o@d@e@r/verilog.prw
work/@a@l@u_@d@e@c@o@d@e@r/verilog.psm
work/@a@l@u_@d@e@c@o@d@e@r/verilog.prw
work/@a@l@u_@d@e@c@o@d@e@r/_primary.vhd
work/@a@l@u_@d@e@c@o@d@e@r/_primary.dbs
work/@a@l@u_@d@e@c@o@d@e@r/_primary.dat
